@{
    ViewBag.Title = "Reportes";
}
<script src="~/Scripts/charts/exporting.js"></script>
<script src="~/Scripts/charts/highcharts.js"></script>


<div class="row">
    <div class="col-md-4">
        <h2>@Html.ActionLink("Cantidad de atendidos por servicio", "CantidadAtendidos", "Reportes")</h2>
        <img class="img-thumbnail" src="~/Img/personas.png">
    </div>
    <div class="col-md-4">
        <h2>@Html.ActionLink("Promedio de duracion por atencion", "DuracionPromedio", "Reportes")</h2>
        <img class="img-thumbnail" src="~/Img/tiempo.png" >
    </div>
    <div class="col-md-4">
        <h2>@Html.ActionLink("Cantidad de atendidos por mes", "CantidadAtendidosMes", "Reportes")</h2>
        <img class="img-thumbnail" src="~/Img/calendario.png" >
    </div>
</div>



