@model IEnumerable<ProyectoATECA.Models.Ficha>
@{
    ViewBag.Title = "Atendiendo";

}

<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="item active">
            <img src="~/Img/Blue-Block.jpg" alt="ATECA">
            <div class="carousel-caption">
                <h5 style="color:black; font:20px;">Bienvenido al Sistema de Gestion de filas</h5>
                <p style="color:black; font:20px;">Caja Costarricense del Seguro Social</p>
            </div>
        </div>

        @foreach (var item in Model)
        {
            <div class="item">
                <img src="~/Img/Blue-Block.jpg" alt="Fichas">
                <div class="carousel-caption">
                    <h5 style="color:black; font:20px;">
                        Atendiendo a:
                    </h5>
                    <h5 style="color:black; font:20px;">
                        Ficha: @Html.DisplayFor(modelItem => item.codigoFicha)
                    </h5>
                    <p style="color:black; font:20px;">
                        Caja: @Html.DisplayFor(modelItem => item.Servicio.nombre)
                    </p>
                </div>
            </div>
        }
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

@*<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>*@




