@model IEnumerable<ProyectoATECA.Models.Ficha>
@{
    ViewBag.Title = "Atendiendo";

}

<div class="row">
        <div id="sonido">
            @{ ViewBag.FileName = "~/Sonidos/fileName.wav";}
            <audio key="test" autoplay="autoplay" preload="auto" src="@Url.Content(ViewBag.FileName)" type="audio/mpeg"></audio>
        </div>
</div>



