<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo se usa en el proceso de publicación y empaquetado del proyecto web. Para personalizar el comportamiento de este proceso,
edite el archivo MSBuild. Visite https://go.microsoft.com/fwlink/?LinkID=208121 para obtener más información. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/add734cf-52a4-482a-98d8-902e5762b365/resourcegroups/ATECA/providers/Microsoft.Web/sites/ATECAWEB</ResourceId>
    <ResourceGroup>ATECA</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://atecaweb.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>atecaweb.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>ATECAWEB</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$ATECAWEB</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="ProyectoATECA.Models.ATECA_BDEntities" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:ateca.database.windows.net,1433;Initial Catalog=ATECA_BD;Persist Security Info=False;User ID=ATECA;Password=ALFREDO_123;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="ProyectoATECA.Models.ATECA_BDEntities, ProyectoATECA" MigrationConfiguration="ProyectoATECA.Migrations.Configuration, ProyectoATECA" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="ProyectoATECA.Models.ATECA_BDEntities-Web.config Connection String">
      <ParameterValue>Data Source=tcp:ateca.database.windows.net,1433;Initial Catalog=ATECA_BD;Persist Security Info=False;User ID=ATECA;Password=ALFREDO_123;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>